<div class="tax-calculator-wrapper">
  <div class="form-wrapper">
    <div *ngIf="!generatedPayslip">
      <h2 class="mb-4">Employee Info</h2>
      <form [formGroup]="payslipForm" (ngSubmit)="submit()">
        <div class="form-row">
          <div class="form-group col-md-6">
            <input type="text" class="form-control" id="firstName" placeholder="Firstname" formControlName="firstName">
          </div>
          <div class="form-group col-md-6">
            <input type="text" class="form-control" id="lastName" placeholder="Lastname" formControlName="lastName">
          </div>
        </div>

        <div class="form-row">

          <div class="form-group col-md-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input type="number" class="form-control" id="salary" placeholder="Annual Salary" formControlName="salary">
              <div class="input-group-append">
                <span class="input-group-text">.00</span>
              </div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input type="number" class="form-control" id="superRate" placeholder="Super Rate" formControlName="superRate">
            </div>
          </div>

        </div>


        <button type="submit" class="btn btn-primary float-right">Generate Payslip</button>
      </form>
    </div>

    <div *ngIf="!!generatedPayslip">


      <a class="mb-4 curs-pointer link" (click)="reset()">Back</a>
      <div class="my-3">
        <h2>Payslip</h2>
        <h5>{{generatedPayslip.firstName}} {{generatedPayslip.lastName}}</h5>
      </div>

      <table>
        <tr>
          <td class="key">Pay Date</td>
          <td>{{generatedPayslip.date | date : 'mediumDate'}}</td>
        </tr>
        <tr>
          <td class="key">Pay Frequency</td>
          <td>Monthly</td>
        </tr>
        <tr>
          <td class="key">Annual Income</td>
          <td>{{generatedPayslip.annualIncome | currency : 'USD' : '$' : '1.2-2'}}</td>
        </tr>
        <tr>
          <td class="key">Gross Income</td>
          <td>{{generatedPayslip.grossIncome | currency : 'USD' : '$' : '1.2-2'}}</td>
        </tr>
        <tr>
          <td class="key">Income Tax</td>
          <td>{{generatedPayslip.incomeTax | currency : 'USD' : '$' : '1.2-2'}}</td>
        </tr>
        <tr>
          <td class="key">Net Income</td>
          <td>{{generatedPayslip.netIncome | currency : 'USD' : '$' : '1.2-2'}}</td>
        </tr>
        <tr>
          <td class="key">Super</td>
          <td>{{generatedPayslip.superannuation | currency : 'USD' : '$' : '1.2-2'}}</td>
        </tr>
        <tr>
          <td class="key">Pay</td>
          <td>{{generatedPayslip.pay | currency : 'USD' : '$' : '1.2-2'}}</td>
        </tr>
      </table>
      <div class="mt-4 alert alert-success" role="alert" *ngIf="paidSuccess">
        Paid successfully
      </div>
      <div class="mt-4 alert alert-danger" role="alert" *ngIf="payError">
        Failed to pay
      </div>
      <div class="mt-4">
        <button class="btn btn-primary btn-lg float-right" (click)="payPayslip()">Pay</button>
      </div>
    </div>
  </div>
</div>


