.tax-calculator-wrapper{
  padding: 60px;

  .form-wrapper {
    max-width: 600px;
    margin: auto;

    table{
      width: 100%;

      td {
        padding: 10px;
        border-top: 1px solid #e2e2e2;

        &.key{
          font-weight: bold;
        }
      }
      tr:nth-child(even) td{
        background-color: #f9f9f9;
      }
    }

  }

  input{
    &.ng-touched{
      &.ng-invalid{
        border: 1px solid #ff7a7a;
      }
    }
  }
}
